<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
  </style>
  <script type="text/javascript"
          src="/js/jquery-1.7.2.min.js">
  </script>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyANAOHPxsJJLf37uzJspHUzGNvc0A87xN8&sensor=true">
  </script>
  <script type="text/javascript">

//      var your_place = new google.maps.LatLng(-27.48, 153.01);

      var map;
      var markers = [];

      function initialize() {
          var myOptions = {
              center: new google.maps.LatLng(-27.48, 153.01),
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

          // TODO add an address marker?

//          marker = new google.maps.Marker({
//              map:map,
//              draggable:false,
//              //animation: google.maps.Animation.DROP,
//              position: your_place
//          });

          get_properties();
      }

      function handle_properties(json) {
          var prop;
          for (var i=0; i < json.length; i++) {
              prop = json[i];

              var point = new google.maps.LatLng(prop.latitude, prop.longitude);

              var marker = new google.maps.Marker({
                  map:map,
                  draggable:false,
                  //animation: google.maps.Animation.DROP,
                  position: point
              });
              markers.push(marker);

              var htmlString = prop.title + "<br/>" + "(" + prop.latitude + "," + prop.longitude + ")";
              var infowindow = new google.maps.InfoWindow({
                  content: htmlString
              });

              google.maps.event.addListener(marker, 'click', function () {
                  infowindow.open(map, marker);
              });
          }

          auto_center();
      }

      function get_properties() {
          $.getJSON("/properties.json", null, handle_properties)
      }

    function auto_center() {
    //  Create a new viewpoint bound
        var bounds = new google.maps.LatLngBounds();
    //  Go through each...
        $.each(markers, function (index, marker) {
            bounds.extend(marker.position);
        });
    //  Fit these bounds to the map
        map.fitBounds(bounds);
    }
  </script>
</head>
<body onload="initialize()">
Text
<div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>